body {
	font-family: Arial, Helvetica, Tahoma, sans-serif; 
	font-size:14px;
	overflow: hidden;
}

#header {
	position: absolute;
	top: 0;
	height: 24px;
	left: 0;
	right: 0;
	overflow: hidden;
	color: white;
}

#header h3 {
	margin: 0;
	text-align: center;
}

#topDragBar {
  border-top: 2px solid #0060bf;
	background: white;
	text-align: center;
	margin: 0 16px 0 16px;
	height: 24px;
}
#topDragBar:before {
	display: block;
	width: 16px;
	height: 26px;
	background: transparent url("../icons/borders.png") top left; 
	float: left;
	margin-left: -16px;
	margin-top: -2px;
	content: '';
}
#topDragBar:after {
	display: block;
	width: 16px;
	height: 26px;
	background: transparent url("../icons/borders.png") top right; 
	float: right;
	margin-right: -16px;
	margin-top: -2px;
	content: '';
}


#content {
	position: absolute;
	top: 24px;
	bottom: 24px;
	left: 0;
	right: 0;
	overflow: hidden;
  background: white;
  border-left: 2px solid #0060bf;
  border-right: 2px solid #0060bf;
}

#content iframe {
	height:100%;
	width:100%;	
	border: none;
}


#footer {
	position: absolute;
	bottom: 0;
	height: 26px;
	left: 0;
	right: 0;	
	overflow: hidden;
	color: white;
	font-size: smaller;
}


#bottomBar {
  border-bottom: 2px solid #0060bf;
	background: white;
	text-align: center;
	margin: 0 16px 0 16px;
	height: 24px;
}
#bottomBar:before {
	display: block;
	width: 16px;
	height: 26px;
	background: transparent url("../icons/borders.png") bottom left; 
	float: left;
	margin-left: -16px;
	content: '';
}
#bottomBar:after {
	display: block;
	width: 16px;
	height: 26px;
	background: transparent url("../icons/borders.png") bottom right; 
	float: right;
	margin-right: -16px;
	content: '';
}
#bottomBar img {
  margin-top: 0;
}